/*
Theme Name: Merak Theme
Theme URI: https://gitlab.com/zagur/MerakTheme
Author: Jesús Camacho
Author URI: http://www.entrebits.es
Description:
Version: 0.1
License: GNU Public Licence version 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
Text Domain: entrebits
GitLab Theme URI: https://gitlab.com/zagur/MerakTheme
GitLab Branch: master
Template version: 0.1
*/

/*

*/

/* CONTENT BLOG FIRST */
.home article.new-post h2 {
    margin-bottom: 0;
    margin-top: 25px;
}

.home article.new-post .info {
    margin-bottom: 15px;
}

/* CONTENT BLOG */
.blog-info h2.entry-title {
    background-color: #fff;
    border-top: 5px solid #2a2a2a;
    margin-bottom: 0;
    padding: 15px;
}
