/*
Theme Name: Merak Theme
Theme URI: https://gitlab.com/zagur/MerakTheme
Author: Jesús Camacho
Author URI: http://www.entrebits.es
Description:
Version: 0.1
License: GNU Public Licence version 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
Text Domain: entrebits
GitLab Theme URI: https://gitlab.com/zagur/MerakTheme
GitLab Branch: master
Template version: 0.1
*/

/*

+ WooCommerce Theme
    + BREADCRUMB

*/

/* HEADER SHOP */
.header-shop {
    background-color: #181818;
    color: #FFF;
    margin-top: 60px;
}

.header-shop h1 {
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-top: 40px;
}

.header-shop ul {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

.header-shop ul li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 5px;
    font-size: 18px;
}

.header-shop ul li:after {
    content: " | ";
    margin-left: 5px;
}

.header-shop ul li:last-child:after {
    content: " ";
}

.header-shop button {
    margin-bottom: 40px;
}

/* CONTENT SHOP */


/* ZONE INFO SHOP */
.zone-info-shop {
    background-color: #00C494;
    padding: 20px 0;
    margin-bottom: 50px;
}

.zone-info-shop .info-shop-square {
    color: #FFF;
}

.zone-info-shop .info-shop-circle {
    background-color: #fff;
    border-radius: 50px;
    color: #181818;
    font-size: 35px;
    height: 100px;
    padding: 30px;
    width: 100px;
}

/* ZONE PORTOFOLIO */
.zone-portfolio h2 {
    color: #181818;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.zone-portfolio p {
    border-bottom: 1px solid #d3d3d1;
    color: #181818;
    font-size: 22px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 70px;
    padding-bottom: 37px;
}

/* PORTOFOLIO */


/* PORTOFOLIO FILTER */
#filter-list {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
	background-color: transparent;
}

#filter-list li {
    font-family: "Popins",sans-serif;
    font-weight: 200;
    font-size: 14px;
    text-transform: uppercase;
	display: inline-block;
	width: auto;
	padding: 6px 10px;
	margin-right: 15px;
	cursor: pointer;
	color: #181818;
    border: 1px solid transparent;
    transition: all .5s;
}

#filter-list li.active {
	font-weight: 400;
	border: 1px solid #181818;
    transition: all .5s;

}

#filter-list li:hover {
	border: 1px solid #101010;
    transition: all .5s;
}

/* PORTFOLIO LIST */
#portfolio {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 35px;
	text-align: center;
}

#portfolio .item {
	display: none;
	opacity: 0;
	height: 225px;
	vertical-align: top;

	color: #fff;
	font-size: 30px;
	text-align: center;
	-moz-box-sizing: border-box;
}

#portfolio .item a {
  display: inline-block;
  max-width: 100%;
  text-decoration: none;
  background: #fff;

}

#portfolio .item img { /*borde blanco cutre*/
  padding: 3px;
  max-width: 100%;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.55);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.55);
  box-shadow: 0 1px 4px rgba(0,0,0,0.55);
}

.caption {
    bottom: -100%;
    opacity: 0;
    position: absolute;
    right: 15px;
    transition: all 0.4s ease-in-out 0s;
}

.caption li {
    display: inline-block;
}

.item:hover .caption {
    bottom: 75%;
    opacity: 1;
}

.caption li a {
    background-color: #ffffff;
    border-radius: 50%;
    color: #777777;
    display: block;
    font-size: 15.6px;
    line-height: 39px;
    margin: 0 1.5px;
    text-align: center;
    width: 39px;
    transition: all .4s;
}
.caption li a:hover {
    background-color: #e6ae03;
    border-color: #ffffff;
    color: #181818;
    transition: all .4s;
}

/* ZONE SHOP */
.zone-shop h2 {
    color: #181818;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* eliminar */
#content-product { margin-top: 60px;}

/* WOOCOMMERCE THEME */


/*** BREADCRUMB ***/
.breadcrumb {
    background-color: #FFF;
    border-radius: 0;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 10px 15px;
    border-bottom: 2px solid #1A1A1A;
}

.breadcrumb > li + li::before {
    content:"";
}

/* SINGLE-PRODUCT */
.product {
    background-color: #FFF;
    padding: 25px;
}
