/*
Theme Name: Merak Theme
Theme URI: https://gitlab.com/zagur/MerakTheme
Author: Jesús Camacho
Author URI: http://www.entrebits.es
Description:
Version: 0.1
License: GNU Public Licence version 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
Text Domain: entrebits
GitLab Theme URI: https://gitlab.com/zagur/MerakTheme
GitLab Branch: master
Template version: 0.1
*/

/*
+ ADD FONTS
+ GLOBAL
+ NAVBAR
+ BREADCRUMBS
+ CONTENT
+ CONTENT SHOP
+ CONTENT BLOG FIRST
+ CONTENT BLOG
+ SINGLE
+ CONTENT SINGLE
+ SINGLE NAV
+ PORTFOLIO
+ PORTFOLIO FILTER
+ PORTFOLIO LIST
+ ARCHIVE

+ SHARE CONTENT

+ EDIT LINK

+ FOOTER
+ BOOTSTRAP
+ RESPONSIVE
+ PRINT STYLE

--------------
+ SEARCH PAGE
+ NAVIGATION PAGE
+ NAVIGATION POST
+ SHARE CONTENT
+ AUTHOR
+ COMMENTS
+ SIDEBAR RIGHT
+ SIDEBAR FOOTER
+ FOOTER
+ 404 ERROR
+ COOKIES
+ EDIT LINK
+ OTHERS
+ RESPONSIVE
+ PRINT STYLE
*/

/* ADD FONTS */
#wpadminbar{display: none;}

@font-face {
    font-family: 'cc-icons';
    src: url('fonts/cc/cc-icons.eot');
    src: local('cc-icons'),
    url('fonts/cc/cc-icons.svg') format('svg'),
    url('fonts/cc/cc-icons.otf') format('opentype'),
    url('fonts/cc/cc-icons.woff') format('woff'),
    url('fonts/cc/cc-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* GLOBAL */
body {
    color: #212121;
    background-color: #ECF0F1;
    word-wrap: break-word;
    font-family: "News Circle", sans-serif;
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: "Lalezar";
}

.btn-merak-category {
    border-radius: 0px;
    border: 2px solid #212121;
    background-color: #FFF;
    color: #212121;
    height: 55px;
    text-align: center;
    text-transform: uppercase;
    font-family: "News Cycle", sans-serif;
    font-weight: bold;
    margin: 0 auto;
    padding: 14px;
    transition: color 150ms linear 0s, background-color 150ms linear 0s, border-color 150ms linear 0s;
}

.btn-merak-category:hover {
    background-color: #212121;
    color: #FFF;
    border-color: #212121;
    transition: color 150ms linear 0s, background-color 150ms linear 0s, border-color 150ms linear 0s;
}

.separator {
    background-color: #e1e1e1;
    display: block;
    height: 2px;
    margin: 0 auto 44px;
    width: 90px;
}

.no-gutter > [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

/* NAVBAR */
.navbar-default {
    color: #212121;
    background-color: #FFF;
    border: none;
    border-radius: 0px;
}

.navbar-default,
.navbar-header,
ul.nav li a,
.navbar-brand {
    height: 65px;
}

.navbar-default .navbar-brand {
    font-family: "Lalezar";
    font-size: 26px;
    font-weight: bold;
    color: #2A2A2A;
    text-transform: uppercase;
}

ul.nav {
    margin-right: 20px;
}

ul.nav li a {
    font-family: "Popins", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 36px;
    background-color: transparent!important;
    color: #212121!important;
    font-size: 12px;
}

/* BREADCRUMBS */
.breadcrumbs {
    margin: 20px 0;
}

.breadcrumbs span,
.breadcrumbs a,
.breadcrumbs {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #454545;
}

/* CONTENT */
.single #main {
    background-color: #FFF;
}

.zone-header {
    background: #FFF;
    height: 450px;
    margin-top: 65px;
    position: relative;
    border-bottom: 5px solid #212121;
}

.zone-blog {
    margin-top: 50px;
}

.square {
    margin-top: 30px;
    min-height: 300px;
}

.thumb {
    display: flex;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.featured-background {
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.thumb .featured-background {
    background-position: 50% center;
    background-repeat: no-repeat;
    transition: all 0.25s ease 0s;
}

.thumb .featured-background:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.25s ease 0s;
}

.blog-info {
    bottom: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: auto;
    text-align: center;
}

.blog-info .entry-title {
    text-align: center;
}

.home .entry-title a {
    color: #2a2a2a;
    text-decoration: none;
}

.home .entry-title a:hover {
    color: #454545;
}

/* CONTENT SINGLE */
.image-header {
    width: 100%;
    height: 400px;
    background-position: center 50%;
    background-size: cover;
}

.single article {
    background-color: #FFF;
}

.single .entry-header {
    padding: 60px 80px;
    position: relative;
}

.single .avatar-img {
    float: right;
}

.single .avatar-img img {
    border-radius: 4px;
}

.single .title-post {
    color: #2a2a2a;
    font-family: "Lalezar";
    font-size: 34px;
    margin: 0;
}

.single ul.info,
.home ul.info {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.single ul.info li,
.home ul.info li {
    display: inline-block;
    margin-right: 20px;
}

.single ul.info li,
.single ul.info li a,
.home ul.info li,
.home ul.info li a{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #454545;
}

.single .entry-post,
.single .entry-post-info,
.single .entry-related-post {
    padding: 0px 80px;
}

.entry-post-info {
    margin: 30px 0px;
}

.tagcloud span {
    margin-right: 8px;
}

.tagcloud a,
.license .text-license {
    text-transform: uppercase;
    color: #454545;
    font-weight: 600;
    text-decoration: none;
    margin-right: 5px;
}

.license .cc {
    margin-right: 10px;
    font-size: 16px;
}

.entry-related-post .square {
    margin-top: 0px;
    min-height: 90px;
}

.title-post-related h3 {
    margin: 0;
    padding: 0;
}

.title-post-related h3 a {
    color: #454545;
    font-size: 18px;
    text-transform: uppercase;
}

.category-post-related a {
    color: #454545;
    text-transform: uppercase;
}

/* SINGLE NAV */
.single-author-nav {
    background-color: #FFF;
    border-top: 1px solid #EEE;
    bottom: 0;
    height: 50px;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 100;
    left: 0;
}

.show-first .avatar-img {
    margin-left: 20px;
}

.single-author-nav .avatar-img img {
    height: 32px;
    width: 32px;
}

.single-author-nav .avatar-img img,
.post-box-author .avatar-img img {
    border-radius: 50%;
}

.share-content-content {
    margin-right: 15px;
    margin-top: 5px;
}

.share-content-content .open-panel-share,
.share-content-content i {
    cursor: pointer;
    color: #454545;
}

.show-second a i {
    height: 35px;
    margin-top: 8px;
    text-align: center;
    width: 35px;
}

.show-first a.next-link,
.show-second a.previous-link {
    color: #454545;
}

.show-second a.next-link i {
    float: left;
}

.next-link .info,
.show-first .info {
    left: 50px;
    position: absolute;
    top: -4px;
}

.show-first .info {
    left: 0px;
}

.previous-link .info {
    right: 50px;
    position: absolute;
    top: -4px;
}

.show-second a.previous-link i {
    float: right;
}

.show-second a .info span,
.show-first .author-name span,
.show-first .info span {
    color: #454545;
    font-size: 10px;
    text-transform: uppercase;
}

.show-second a .info span.title {
    color: #000;
    position: relative;
    bottom: 5px;
}



/* ARCHIVE */
.background-header-single {
    background-color: #2a2a2a;
    height: 200px;
    width: 100%;
}

.background-header-single h1 {
    color: #fff;
    padding-top: 90px;
    text-transform: uppercase;
}

/* SHARE CONTENT */
.panel-share {
    background: rgba(244, 244, 244, 0.5) none repeat scroll 0 0;
    bottom: 50px;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    height: 60px;
}

.share-post h4 {
    float: right;
    margin-right: 15px;
}

.share-buttons {
    float: right;
    margin: 14px 15px 0 0;
}

.share-buttons li {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.share-buttons li a {
    background: #f2f2f2 none repeat scroll 0 0;
    border-radius: 70px;
    color: #636c77;
    display: block;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    transition: background 0.15s ease-in 0s;
    width: 35px;
}

.share-buttons li.fb a {
    background-color: #3b5999;
    color: #FFF;
}

.share-buttons li.tw a {
    background-color: #55acee;
    color: #FFF;
}

.share-buttons li.gp a {
    background-color: #dd4b39;
    color: #FFF;
}

.share-buttons li.em a {
    background-color: #b92b27;
    color: #FFF;
}

.share-buttons li a i {
    margin-top: 12px;
    padding: 0 6px;
}

.entry-meta .share-post .close,
.entry-meta .share-post h4 {
    display: none;
}

/* EDIT LINK */
.single div.edit-link {
    background-color: #2A2A2A;
    padding: 8px 25px;
    position: absolute;
    right: 0;
    top: 0;
}

.single div.edit-link span,
.single div.edit-link span a {
    color: #FFF;
    text-transform: uppercase;
}

/* FOOTER */
.pre-footer {
    background-color: #454545;
}

.pre-footer .social-network {
    margin: 0;
    list-style: none;
}

.footer {
    background-color: #2a2a2a;
    color: #fff;
    height: 80px;
    padding: 30px;
    width: 100%;
}

/* BOOTSTRAP */
.modal-content {
    border: none;
    border-radius: 0;
}

.modal-header {
    background-color: #2A2A2A;
    color: #FFF;
}

.modal-header .close {
    color: #FFF;
}

.modal-body {
    padding: 5px;
}

.modal-body img {
    position: relative;
    width: 100%;
}

/* RESPONSIVE */
@media (max-width: 1200px) {

}

@media (max-width: 1084px) {

}

@media (max-width: 990px) {

}

@media (max-width: 760px) {

}

@media (max-width: 590px) {

}

@media (max-width: 400px) {

}

@media all and (max-width: 600px){

}

/* PRINT STYLE */
@media print {
body {
    background:white;
    font-size:10pt;
    margin:0 }
#sidebar { display:none }
#header { height:75px }
#content{ margin-left:0;
     float:none;
     width:auto }
.demo .red { color:black;
     font-weight:bold }
#content a { font-weight:bold;
     color:#000066;
     text-decoration:underline }
#content{ margin-left:0;
     float:none;
     width:auto }
#footer, .ad { display:none }
h1, h2, h3, h4, h5, h6 { page-break-after:avoid;
     page-break-inside:avoid }
h3 { margin-left:10px;
     margin-bottom:0px;
     padding-bottom:0px }
blockquote, table, pre { page-break-inside:avoid }
ul, ol, dl  { page-break-before:avoid }
img { display: none;}
.right { float: right; }
.left { float: left }
img { page-break-inside:avoid;
     page-break-after:avoid; }
}
