/*
Theme Name: Alpheratz Theme
Theme URI: https://gitlab.com/zagur/AlpheratzTheme
Author: Jesús Camacho
Author URI: http://www.portallinux.es
Description: Tema principal para la web sobre Software Libre y GNU/Linux PortalLinux.es
License: GNU Public Licence version 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: Wordpress, Free Software, GNU/Linux, software libre.
Text Domain: portallinux
*/

/* STYLE AQUA */

/*
+ BACKGROUNDS COLORS
+ COLOR
+ HOVER, FOCUS...
	+ BACKGROUND COLOR
	+ COLOR
+ BORDER COLOR
+ OTHERS
*/

/* COLORS USED
SOFT COLOR: #4FC1E9;
HARD COLOR: #3BAFDA;
*/

/* BACKGROUNDS COLORS */
.home .entry-title,
.category h1.entry-title,
.author h1.entry-title,
.navbar-inverse .navbar-nav > .open > a,
.btn-primary,
.post-inner-info,
.author-social,
.post-inner-license,
.author .list-social,
.cookies, .author-box,
.commetsClosed,
.comment-reply-link {
	background-color: #4FC1E9;
}

/* COLOR */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.second, .navbar-brand:hover span:first-child,
#backtotop:hover span,
.trending-articles li.firstlink,
#secondary .widget > h3,
#reply-title,
.post-by-author h2,
#box_animate .form-control,
.search .page-header h1.entry-title,
.search .page-header h1.entry-title span,
.entry-content p a {
	color: #4FC1E9;
}

/* HOVER */
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.tagcloud > a:hover,
.edit-comment:hover {
	background-color: #3BAFDA;
}

.comment-text h4 a:hover,
.trendingPost > a:hover,
h4.author-name a:hover,
.post_categories a:hover,
#colophon a:hover {
	color: #4FC1E9;
}

/* BORDER COLOR */
.comments-title,
.comment-body,
blockquote {
	border-color: #4FC1E9;
}

/* OTHERS */
.home .cookies {
    border-left: 40px solid transparent;
    border-top: 40px solid transparent;
    border-right: 40px solid #4FC1E9;
    border-bottom: 40px solid #4FC1E9;
    background-color: transparent;
}

.entry-content h2:after {
    background: -moz-linear-gradient(left,  #4FC1E9 8%, #ffffff 8%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop 8%,#4FC1E9), color-stop 8%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #4FC1E9 8%,#ffffff 8%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #4FC1E9 8%,#ffffff 8%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #4FC1E9 8%,#ffffff 8%); /* IE10+ */
    background: linear-gradient(to right,  #4FC1E9 8%,#ffffff 8%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
